---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* paragraph indention */
$paragraph-indent           : false;
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

$quote-blue-color           : #1da1f2;
$primary-cream              : #b2d9f1;
$cream-color                : #f4f4f4;

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1.1em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;

@import "minimal-mistakes";

html {
    font-size: 14px;

    @include breakpoint($medium) {
      font-size: 14px;
    }

    @include breakpoint($large) {
      font-size: 15px;
    }

    @include breakpoint($x-large) {
      font-size: 16px;
    }
}

.highlight {
  margin: 0;
  padding: 0.2em;
  font-family: $monospace;
  font-size: 1.0em;
  line-height: 1.5;
}

blockquote {
  margin: 0em;
  margin-block: 2em;
  margin-inline-end: 1em;
  padding-inline: 0.5em;
  font-style: italic;
  border-inline-start: 0.25em solid $quote-blue-color;
  background-color: $cream-color;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  cite {
    font-style: italic;

    &::before {
      content: "\2014";
      padding-inline-end: 5px;
    }
  }
}

.h1 {
  text-decoration: underline;
  text-decoration-color: dodgerblue;
}

.author__avatar img {
  max-width: 110px;
  border-radius: 15%;
  padding: 0;
}

// Custom: Site title and subtitle styling
.site-title {
  color: #000 !important;
  font-size: 1.3em;
}

// .site-subtitle {
//   display: inline;
//   margin-left: 0.3em;
//   font-size: 0.85em;
//   color: #666;
// }

// Author name and bio spacing
.author__name {
  margin-top: 1em;
  margin-bottom: 0;
}

.author__bio {
  margin-top: -0.3em;
}

// Tighter spacing on mobile
@media (max-width: 1023px) {
  .author__name {
    margin-top: 0em;
    margin-bottom: 0;
  }
  .author__bio {
    margin-top: -0.7em;
  }
}

// Author links spacing
.author__urls li {
  margin-top: 1em;
  margin-bottom: -1em;
}

// Category navigation styling
.nav__list {
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav__items > li {
    margin-bottom: 0.8em;
  }

  .nav__section-title {
    display: block;
    font-size: 0.8rem !important;
    font-weight: bold;
    color: #666;
    margin-bottom: 0.3em;
  }

  a {
    color: #333;
    font-size: 0.8rem !important;
    text-decoration: none;

    &:hover {
      color: $quote-blue-color;
    }
  }

  // Second level
  .nav__items > li > ul > li {
    margin-left: 0.5em;
    margin-bottom: 0.2em;

    a {
      font-size: 0.8rem !important;
    }
  }

  // Third level (Computer Vision, ML/DL, AR)
  .nav__sub-items {
    margin-left: 1em;
    margin-top: 0.2em;

    li {
      margin-bottom: 0.1em;
    }

    a {
      font-size: 0.8rem !important;
    }
  }
}